In [ ]:
from pandas.core.groupby.groupby import GroupBy
from pandas.core.frame import DataFrame
from pandas.core.indexes.range import RangeIndex
import pandas as pd
import csv

df=pd.read_csv("/content/drive/MyDrive/DATA/causes_of_death.csv")

print(df.shape)

df1 = df['Deaths'].mean()
print(df1)

df2 = df.groupby('State')['Deaths'].agg(['sum'])
print(df2)

df3 = df.groupby('State')['Deaths'].mean()
print(df3)

df4 = df.groupby(['State', 'Gender Code'])['Deaths'].agg(['sum'])
print(df4)

df.dropna()
df.head()

df_ten_year = df['Ten-Year Age Groups Code']==1
print(df_ten_year)

(4115, 11)
10914.44957472661
                          sum
State
Alabama                860780
Alaska                  63334
Arizona                838094
Arkansas               522914
California            4307061
Colorado               561283
Connecticut            531290
Delaware               135933
District of Columbia    94073
Florida               3131111
Georgia               1259017
Hawaii                 172244
Idaho                  200077
Illinois              1872171
Indiana               1031634
Iowa                   507247
Kansas                 448828
Kentucky               752585
Louisiana              755914
Maine                  231756
Maryland               800510
Massachusetts          987031
Michigan              1599942
Minnesota              702284
Mississippi            526127
Missouri              1008288
Montana                158429
Nebraska               277962
Nevada                 345245
New Hampshire          187917
New Jersey            1291554
New Mexico             281598
New York              2741575
North Carolina        1399009
North Dakota           107281
Ohio                  1987276
Oklahoma               656535
Oregon                 575952
Pennsylvania          2313855
Rhode Island           176266
South Carolina         732571
South Dakota           128599
Tennessee             1066727
Texas                 2969214
Utah                   260479
Vermont                 95300
Virginia              1071163
Washington             865686
West Virginia          386224
Wisconsin              857629
Wyoming                 77386
State
Alabama                 10626.913580
Alaska                    772.365854
Arizona                  9109.717391
Arkansas                 6455.728395
California              45819.797872
Colorado                 6378.215909
Connecticut              6559.135802
Delaware                 1970.043478
District of Columbia     1447.276923
Florida                 34790.122222
Georgia                 14639.732558
Hawaii                   2266.368421
Idaho                    2778.847222
Illinois                21519.206897
Indiana                 12895.425000
Iowa                     6185.939024
Kansas                   5407.566265
Kentucky                 9902.434211
Louisiana                9107.397590
Maine                    3310.800000
Maryland                 9201.264368
Massachusetts           12185.567901
Michigan                17976.876404
Minnesota                7980.500000
Mississippi              6117.755814
Missouri                11862.211765
Montana                  2200.402778
Nebraska                 3474.525000
Nevada                   4014.476744
New Hampshire            3030.919355
New Jersey              15375.642857
New Mexico               3236.758621
New York                29799.728261
North Carolina          15373.725275
North Dakota             1650.476923
Ohio                    24534.271605
Oklahoma                 7376.797753
Oregon                   6544.909091
Pennsylvania            27221.823529
Rhode Island             2448.138889
South Carolina           9044.086420
South Dakota             1863.753623
Tennessee               13169.469136
Texas                   32991.266667
Utah                     3028.825581
Vermont                  1944.897959
Virginia                12601.917647
Washington               9726.808989
West Virginia            6229.419355
Wisconsin                9745.784091
Wyoming                  1155.014925
Name: Deaths, dtype: float64
                              sum
State         Gender Code
Alabama       F            430133
              M            430647
Alaska        F             27199
              M             36135
Arizona       F            396028
...                           ...
West Virginia M            192560
Wisconsin     F            436397
              M            421232
Wyoming       F             37153
              M             40233

[102 rows x 1 columns]
0       False
1       False
2       False
3       False
4       False
        ...
4110    False
4111    False
4112    False
4113    False
4114    False
Name: Ten-Year Age Groups Code, Length: 4115, dtype: bool